.common-area {
  width: 80%;
  margin: 40px auto;
}

.todolist {
  padding: 0;
}

.todo {
  list-style: none;
  line-height: 1.5;
  font-weight: bold;
  background-color: rgba(3, 80, 63, 0.5);
  border-radius: 5px;
  padding: 10px;
  height: 50px;
  position: relative;
  margin-bottom: 10px;
}

.todo-task {
  cursor: pointer;
  display: block;
  margin-top: 8px;
  margin-left: 10px;
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
  color: #fff;
}

.far {
  position: absolute;
  top: 28px;
  right: 10px;
  width: 30px;
  color: #ff9900;
  cursor: pointer;
}
